<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Ressource partagé à toute les applis ! Rajouté un / devant l'url -->
    <script src="/static/js/jquery-3.2.1.js" charset="utf-8"></script>

    <!-- Ressource appartenant à l'appli  -->
    <link rel="stylesheet" href="/static/css/welcome.css" media="screen" title="no title" charset="utf-8">

    <title>Choose game</title>
  </head>
  <body>
    <h1>Parties en cours :</h1>

    <% for(var i=0; i<instanceGames.length; i++) {%>
        <p>
          <!-- <a href="/" onclick="javascript:event.target.port=3001"> -->
          <a href="<%-instanceGames[i].url-%>">
            <%= instanceGames[i].name %>
          </a>
        </p>
    <% } %>

    <h1>Choisis un jeu:</h1>

    <% for(var i=0; i<allGames.length; i++) {%>
        <p>
          <a href="/welcome/new/<%-allGames[i].id-%>">
            <%= allGames[i].name %>
          </a>
          <span id='deleteInit-<%-allGames[i].id-%>' onclick="deleteInit('<%-allGames[i].id-%>', '<%= allGames[i].name %>')">x</span>
	</p>
	<div id='deleteArea-<%-allGames[i].id-%>'></div>
    <% } %>
  </body>
  <script type="text/javascript" src="/static/js/delete_game.js" charset="utf-8"></script>
  <script type="text/javascript">
      // On accede à l'objet cyborg en cours grace à : window.parent.cyborg
    // var cyborg = window.parent.cyborg;

  </script>
</html>
